**/.eggs/**
*.egg-info
*.pyc
*~
.[#]*
.mypy_cache
.pytest_cache
/.coverage
/.hypothesis
/build
/deploy_rsa
/dist/
/htmlcov
/integrationtests/*/build
/integrationtests/*/constraints.txt
/integrationtests/*/dependency-graph.yml
/integrationtests/*/dependency-input.yml
/integrationtests/*/flake.nix
/integrationtests/*/requirements.nix
/integrationtests/*/requirements.txt
/integrationtests/*/requirements_frozen.txt
/integrationtests/*/result
/integrationtests/*/src
/integrationtests/pypi2nix
/out/
/pypi2nix.egg-info/
/result*
[#]*[#]
pypi2nix/_version.py